<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogDirectory" value="e:\logs\smdr\"/> <!--Directory must have a trailing slash-->
    <add key="IPAddress" value="10.20.10.230"/> <!--Specify only one IP address.  If you'd like to listen on all available interfaces, specify 0.0.0.0-->
    <add key="TCPPort" value="13000"/>
  </appSettings>
</configuration>